.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 0px;
  color: white;
}

.App-main { 
  margin-left: 256px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Asset-table {
  margin: 0px 120px;
}

.Asset-table-body {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 5px 10px #888888;
}
.App-raised-button-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 500;
}