.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 100px;
  padding: 0px;
  color: white;
}

.App-main { 
  margin-left: 276px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Asset-table {
  margin: 0px 120px;
}

.Asset-table-body {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 5px 10px #888888;
}
.App-raised-button-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 500;
}

.App-grid-container {
  display: grid;
  max-width: 800px;
}

.App-grid-1 {
  grid-template-columns: auto;
}

.App-grid-2 {
  grid-template-columns: auto auto;
}

.App-grid-item {
  padding: 20px;
}

/* Static pages */
.static-page {
  margin: 60px 0px 120px 0px;
  line-height: 1.6em;
  font-size: 18px;
  font-weight: 300;
}

.static-page a {
  color: #00B1C1;
  font-weight: 700;
  text-decoration: none;
}

.static-page h1, .static-page h2, .static-page h3, .static-page h4, .static-page h5 {
  color: #00B1C1;
  font-weight: 300;
}

.static-page h1 {
  font-size: 48px;
  margin-bottom: 48px;
}

.static-page i {
  color: #00B1C1;
  font-size: 16px;
}

.static-page section {
  margin: 48px 0px;
}